.heading {
  margin-top: 10px;
  text-align: center;
  color: pink;
}

.add-item-container { 
  .btn-container {
    text-align: center;
  }
  button {
    background: pink;
    border-radius: 5px;
  }
}